body{
    margin: 0;
    padding: 0;
}

#container{
    width: 50%;
    margin: 10px auto auto auto;
    border: 1px solid greenyellow;
}

#container form{
    text-align: center;
}
#container input{
    margin: 10px;
    width: 20%;
}