<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Save Employee</title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
</head>
<body>
<div id="global">
    <h4>The Member details have been saved.</h4>
    <p>
    <h5>Details:</h5>
    First Name:<span th:text="${member.firstName}"></span><br/>
    Last Name: <span th:text="${member.lastName}"></span><br/>
    Age: <span th:text="${member.age}"></span>
    </p>
</div>
</body>
</html>