<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Member Form</title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
</head>
<body>
<div id="global">
    <form action="#" th:action="@{/member/member_save}" th:object="${member}"
          method="post">
        <fieldset>
            <legend><span th:text="#{member.form.title}">Add a Member</span></legend>
<!--            <ul th:if="${#fields.hasErrors('*')}">-->
<!--                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input-->
<!--                    is incorrect</li>-->
<!--            </ul>-->
            <p>
                <label for="firstName"><span th:text="#{member.form.firstName}">First Name: </span></label> <input type="text"
                                                                                                                     th:field="*{firstName}" />
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError"></p>
            </p>
            <p>
                <label for="lastName"><span th:text="#{member.form.lastName}">Last Name: </span></label> <input type="text"
                                                                                                                  th:field="*{lastName}" />
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></p>
            </p>

            <p>
                <label for="memberNumber"><span th:text="#{member.form.memberNumber}">Member Number: </span></label> <input type="text" th:field="*{memberNumber}" />
<!--            <p th:if="${#fields.hasErrors('memberNumber')}" th:errors="*{memberNumber}" th:errorclass="fieldError"></p>-->
            </p>
            <p>
                <label for="age"><span th:text="#{member.form.age}">Age: </span></label> <input type="text" th:field="*{age}" />
<!--            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="fieldError"></p>-->
            </p>

            <p id="buttons">
                <input id="reset" type="reset" th:value="#{member.form.resetbtn}" value="Add Employee" tabindex="4"> <input
                    id="submit" type="submit" tabindex="5" th:value="#{member.form.addbtn}" value="Add Employee">
            </p>
        </fieldset>
    </form>
</div>
</body>
</html>
