<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/list">List</a>
    </li>
</ul>
<div class="container">
    <form method="post" th:action="@{/employeeAdd}" th:object="${employee}">
        <fieldset>
            <legend>Add New Employee</legend>

            <div class="form-group">
                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Validation Error!</li>
                </ul>
                <label> Name:
                    <input class="form-control" type="text" th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="alert">Invalid input</p>
                </label>

                <label> Number:
                    <input class="form-control" type="text" th:field="*{number}"/>
                    <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" th:errorclass="alert">Invalid
                        input</p>
                </label>

                <h4>Address</h4>
                <label> Street:
                    <input class="form-control" type="text" th:field="*{address.street}"/>
                    <p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"
                       th:errorclass="alert">Invalid input</p>
                </label>

                <label> State:
                    <input class="form-control" type="text" th:field="*{address.state}"/>
                    <p th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" th:errorclass="alert">
                        Invalid input</p>
                </label>

                <label> Zip:
                    <input class="form-control" type="text" th:field="*{address.zip}"/>
                    <p th:if="${#fields.hasErrors('address.zip')}" th:errors="*{address.zip}" th:errorclass="alert">
                        Invalid input</p>
                </label>
            </div>
            <input type="submit" class="button" value="Add Employee">
        </fieldset>
    </form>
</div>


<!----------------------------------------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>